<p id="notice"><%= notice %></p>

<h1>Listing Lists From User: <%= User.find_by_id(params[:user]).username %></h1> 

<table>
  <thead>
    <tr>
      <th>List name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists = List.where(user_id: params[:user]) %>
    <% @lists.each do |list| %>
      <tr>
        <td><%= link_to list.list_name, {:controller => :items, :action=>'index', :list_id => list.id} %></td>
	<% if current_user.id == User.find_by_id(params[:user]).id %>
          <td><%= link_to 'Edit', edit_list_path(list) %></td>
          <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.id == User.find_by_id(params[:user]).id %>
  <%= link_to 'New List', {:controller => :lists, :action=>'new', :user => params[:user]} %> |
<% end %>
<%= link_to 'All Users', users_path %> 
<% if current_user.id != User.find_by_id(params[:user]).id %>
  | <%= link_to 'Back to my Lists', lists_path(:user => current_user.id) %>
<% end %>
