<h1><%= @item.item_name %></h1>
<ul>
<p>
  <li>
	<strong>Lista:</strong>
  <%= @item.list.list_name%> 
	</li>
</p>

<p>
	<li>
  <strong>Descripcion:</strong>
  <%= @item.item_description %>
	</li>
</p>

<p>
	<li>
  <strong>Puntaje:</strong>
  <%= @item.item_rating %>
	</li>
</p>

<p>
	<li>
  <strong>Recomendacion:</strong>
	<% if @item.item_recommendation == true %>
		Si
	<% else %>
		No
	<% end %>
	</li>
</p>
</ul>

<%= link_to 'Regresar', {:controller => :items, :action=>'index', :list_id => @item.list_id} %>
